.header {
  height: 70px;
  padding: 20px 50px;
  background-color: rgb(1, 38, 69);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #939393;
}

.header .logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

.header .user {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header .user .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(11, 107, 185);
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header .user .user-name {
  margin-right: 15px;
}

.header .user {
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-logout{
  margin: 10px;
  color: #fff;
  display: flex;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: none;
  text-decoration: none;
}
.user-logout:hover {
  color: beige;
}