<div class="container">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-sidenav></app-sidenav>
      </div>
      <div class="main">
            <div class="top-section">
                <app-top-widgets></app-top-widgets>
            </div>
            <div class="middle-section">
                <div class="widget right">
                    <app-last-operations></app-last-operations>
                </div>
                <div class="widget left">
                    <app-categorie-devices></app-categorie-devices>
                </div>
            
            </div>
      </div>
    </div>
</div>
